* {
    /* border: red solid 1px;
     */
} 

body {
    background-color: rgb(186, 186, 186);
    

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}


header #time-left{
    float: right;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: rgb(238, 208, 39);
    text-shadow: 2px 2px rgb(49, 49, 49);
    padding-bottom: 10px;
    font-size: 45px;
}

p {
 font-size: 20px;
}

main {
    text-align: center;

}

.container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    margin: 5rem auto;
}

.questions-pg,
.quiz-fin,
.highscores,
#correct-incorrect {
    display: none;
}

.button {
    background: white;
    border-radius: 3px;
    cursor: grab;
    font-size: 20px;
}

.button:hover {
    background: rgb(112, 229, 255);
}

.choices-btn {
    background: white;
    font-size: 20px;
}

.choices-btn:hover {
    background: rgb(112, 229, 255);
    cursor: grab;
}